// colors
$mainColor: #1b1b1b;
$textColor: #fff;
$grey: #9c9c9c;
$red: #d20000;
$yellow: #fff001;
//gutters
$gutter: .5rem;
$gutter-xs: .08rem;
$gutter-sm: $gutter / 2;
$gutter-md: $gutter * 2;
$gutter-lg: 4rem;
//fontSize
$f-sm: .9rem;
$f-md: 1.3rem;
